*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(160,255,204);
	color: white;
	font: 100% 'Open Sans', sans-serif;
}

.search-form {
	max-width: 400px;
	margin: 5vw auto;
}

h1 {font: 1.25em 'Quicksand', sans-serif;}

input.search {
	-webkit-appearance: none;
	text-align: center;
	width: 100%;
	border: .75em solid #F7F7F7;
	padding: 1em;
	border-radius: 20vw;
	outline: none;
	box-shadow: 0 0 1em rgba(0, 0, 0, .05);
	font: 1em 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
	color: rgb(30,107,148);
}

a:visited {color: rgb(44,55,161);}

a:hover {color: rgb(69,96,172);}

li {list-style-type: none;}

#random-article {
	text-align: center;
	font-size: 1.25em;
	margin-top: 5vw;
}

.suggestions {
		perspective: 4000px;
		margin: 5vw auto;
}

.suggestions p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.suggestions li {
	height: 125px;
	background: white;
	color: gray;
	box-shadow: 0 2em 5em rgba(0, 0, 0, .3);
	padding: 1em;
}

.suggestions li:nth-child(even) {
	margin-top: -5px;
	transform: perspective(15em) rotateX(5deg);
	-webkit-transform: perspective(15em) rotateX(5deg);
	-moz-transform: perspective(15em) rotateX(5deg);
	background: -moz-linear-gradient(to top, rgb(255,255,255), rgb(230,230,230));
	background: -o-linear-gradient(to top, rgb(255,255,255), rgb(230,230,230));
	background: -webkit-linear-gradient(to top, rgb(255,255,255), rgb(230,230,230));
	background: linear-gradient(to top, rgb(255,255,255), rgb(230,230,230));
}

.suggestions li:nth-child(odd) {
	margin-top: 2px;
	transform: perspective(15em) rotateX(-5deg);
	-webkit-transform: perspective(15em) rotateX(-5deg);
	-moz-transform: perspective(15em) rotateX(-5deg);
	background: -moz-linear-gradient(to bottom, rgb(255,255,255), rgb(230,230,230));
	background: -o-linear-gradient(to bottom, rgb(255,255,255), rgb(230,230,230));
	background: -webkit-linear-gradient(to bottom, rgb(255,255,255), rgb(230,230,230));
	background: linear-gradient(to bottom, rgb(255,255,255), rgb(230,230,230));
}

@media screen and (max-width: 600px) {
	.search-form {max-width: 300px;}
}